footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px;
}

body, html {
    height: 100%;
    margin: 0px;
}

.bg {
  background-image: url("hd.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1_modify {
    color: white;
    text-align:center;
    background-color: rgba(153, 153, 102, 0.5);
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.chatwindow{
  position: absolute;
	top:50;
	bottom: 50;
	left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding: 30px;
}

.chat_window {
    overflow: auto;
    background-color: white;
    height: 400px;
    width: 700px;
    margin: 0 0 2% 23%;
    color: black;
}