{% extends "base.html" %}
{% block title %} Chat Room - Riktam Chat App {% endblock %}
{% block head %}
<script type="text/javascript">
    const username = `{{ user.first_name|string() }}`
    const room = `{{ group.id|string() }}`
    const uid = `{{ user.id|string() }}`
</script>
<script src="/static/chat.js" type="text/javascript"></script>
{% endblock head %}
{% block content %}
        <div class="row" style="background-color: rgba(153, 153, 102, 0.5);">
            <div class="col">
                <h1>Chat Room - {{ group.name }}</h1>
            </div>
            <div class="col" style="margin: 15px;">
                <button type="button" class="btn btn-success btn-sm m-0" onclick=leave_room()>Leave Room</button>
            </div>
        </div>
        <div class="chatwindow">
            <textarea id="chat" cols="90" rows="13" placeholder="No messages yet. Start one...">{% for message in messages %}{{ message.writer.first_name }} ({{ message.post_date.strftime('%b-%d %I:%M%p') }}) : {{ message.msg_txt }} {{ '\n' }}{% endfor %}</textarea>
            <br /><br />
            <input type="text" id="text" size="70" placeholder="Enter your message here" />
            <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
        </div>
{% endblock %}